* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #272727;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

header {
    background-color: rgba(229, 84, 115, 0.10);
    min-height: 850px;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.banner_section {
    display: flex;
    align-items: center;
}

.banner_left_item {
    width: 50%;
}

.banner_right_item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_left_item h1 {
    font-size: 80px;
    font-weight: 800;
}

.banner_left_item p {
    margin: 32px 0;
    width: 635px;
}

.banner_right_item img {
    margin-top: 50px;
}

.btn {
    border-radius: 8px;
    width: 180px;
    background: #E55473;
    border: none;
    padding: 13px 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* featured style */
.featured {
    margin-top: 175px;
    margin-bottom: 130px;
}

.featured_header h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}

.featured_header p {
    text-align: center;
    width: 590px;
    margin: 0 auto 50px;
}

.featured_wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.f_img_1 {
    background: rgba(167, 33, 98, 0.15);
}

.f_img_2 {
    background: rgba(5, 151, 160, 0.15);
}

.f_img_3 {
    background: rgba(71, 125, 17, 0.15);
}

.featured_item {
    width: 33.33%;
}

.f_img {
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50% 50% 0 0;
    margin-bottom: 24px;
}

.featured_item a {
    font-weight: bold;
    font-size: 24px;
    display: block;
    text-align: center;
}